<div class="container">
  <div id="user_profile">
  <h1>Lil-Twitter</h1>
  <h2><%= @user.username %></h2>
  <%= erb :"partials/follow_button" %>
<!-- show "new tweet" form if it's the current user's page -->
  <% if current_user == @user %>
    <form action="/users/<%= @user.id %>/tweets" method="POST">
      <input type="text" name="tweet[content]" placeholder="Tweet your thoughts here!">
      <input type="submit" value="Tweet!">
    </form>
  <% end %>

  <div class="tweet-list">
  <!-- If user is signed in, display all their tweets -->
    <% if @user.tweets %>
      <% @user.tweets.each do |tweet| %>
        <p><%= tweet.content  %></p>
      <% end %>
    <% end %>
  </div>
  <div class="leader-list">
    <% if @leaders %>
      <h3>Leaders</h3>
      <ul>
        <% @leaders.each do |leader| %>
          <li><a href="/users/<%=leader.id%>/tweets"><%= leader.username %></a></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="follower-list">
    <% if @followers %>
      <h3>Followers</h3>
      <ul>
        <% @followers.each do |follower| %>
          <li><a href="/users/<%=follower.id%>/tweets"><%= follower.username %></a></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
